/*body{
    background-color: blueviolet;
    background-image: url(/images/earth-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    border: 2px dotted greenyellow;
    padding: 20px;
    margin: 50px;
}*/

#div1{
    height: 200px;
    background-color: brown;
    background-image: linear-gradient(to bottom right,red,yellow,black);
}

#div2{
    height: 300px;
    background-color: aqua;
    background-image: radial-gradient(circle,red,yellow,black);
}

#div3{
    height: 500px;
    background-color: brown;
    background-image: conic-gradient(red,yellow,black,green);
}

#div4{
    height: 500px;
    background-color: azure;
    background-image: conic-gradient(red,orange,yellow,green,blue,indigo,violet);
}
