.f_family{
    font-family: monospace;
}

.f_family2{
    font-family: arial;
}

.f_family3{
    font-family: courive;
}

.f_family4{
    font-family: serif;
}

.f_family5{
    font-family: verdana;
}

.f_family6{
    font-family: fantasy;
}
