h1:hover{
    color: blueviolet;
    font-size: 50px;
    background-color: rgb(214, 231, 181);
    cursor: pointer;
   /* background-image: url("/images/earth-removebg-preview.png");*/
    background-size: auto;
    height: 500px;
    width: 500px;
}

h2:active{
    color: aliceblue;
    font-size: 50px;
    cursor: pointer;
    background-color: blueviolet;
    /*background-size: auto;*/
}

input:focus{
    background-color: aqua;
}

a:visited{
    color: green;
}